#.htaccess para Node.js com LiteSpeed/Apache

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirecionar HTTP para HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Regra de Proxy para a aplicação Node.js
  # Substitua 5000 pela porta que sua aplicação está usando, se for diferente
  RewriteRule ^$ http://127.0.0.1:5000/ [P,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ http://127.0.0.1:5000/$1 [P,L]
</IfModule>

# Opcional: Melhora o manuseio de cabeçalhos de proxy
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>
